<h1 class="h4 text-center mb-4">Top Up</h1>
<form class="px-4 w-100" action="/topup" method="POST">
  <div class="form-group">
    <label for="balance">Top Up Value</label>
    <input type="number" class="form-control" id="balance" name="balance">
  </div>
  <button type="submit" class="btn btn-primary">Sign Up</button>
  <a href="/" class="btn btn-outline-primary">Cancel</a>
</form>