<%- include('partials/header-auth') %>

  <div class="container-fluid text-center pt-5">
    <h3><%= errMsg %> </h3>
    <a href="javascript:history.back()">Back</a>
  </div>

<%- include('partials/footer-auth') %> 